@media screen and (max-width : 576px) {

    bodY{
        margin: 20px 30px;
    }
    
    /* header section */
    .header-logo .header-name{
        font-size: 25px;
    }
    .header-menu-list{
       display: none;
    }

    .header-explore{
        width: 100%;
    }

    .header-explore-title{
        font-size: 30px;
    }
    .header-explore-container{
        padding: 20px;
    }
    /* .form-container .header-input, .primary-btn{

        display: block;
        width: 100%;
        height: 50px;
        text-align: center;
    } */
    /* .header-input{
        width: auto;
    } */

    /* .form-container{
        display: block;
        width: 100%;
        height: 100%;
    } */
    .header-input-cont{
        width: 82%;
        height: 90px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
        gap: 20px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
    }.header-input-cont{
        width: 100%;
        height: 100%;
        margin: 0px auto;
        display: block;
        gap: 20px;
    }
    .header-input{
        width: 100%;
        height: 60px;
        border-radius: 8px;
        background: #FFF;
        font-size: 1rem;
        border: none;
        outline: none;
        margin-bottom: 11px;
    }

    .header-input-cont .primary-btn{
        width: 100%;
    }
     /* header section */


    /* tours section */

    .tours-container{
        flex-direction: column;
        margin-top: 30px;
    }
    .tours-title .primary-btn{
        width: 160px;
    }
    .tours-container .tours-title{
        width: 100%;
    }

    .tours-img{
        margin-top: 20px;
    }
    /* tours section */

/* destination section */
    .box-line-1, .box-line-2, .box-line-3{
        flex-direction: column;
        width: 100%;
    }
    .destination-title{
        width: 100%;

    }
    .choose-title{
        width: 100%;
    }
    
    #srilanka{
        width: 100%;
    }
    #america{
        width: 100%;
    }
    #kasmir{
        width: 100%;
    }
    #bng{
        width: 100%;
    }
    #bandar{
        width: 100%;
    }
/* destination section */
    .place-container{
        flex-direction: column;
    }

/* choose section */
    .box-same{
        flex-direction: column;
    }

    .choose-box #box-another{
        width: 100%;
    }

/* choose section */


/* tours section */
.deals-container{
    width: 100%;
    border: 1px solid red;
    background-image: url(../Images/Group\ 39.png);
    object-fit: cover;
    background-size: cover;
}
/* tours section */



    /* tours section */
    .place-container{
        flex-direction: column;
        margin-top: 60px;
    }
    .place-title .primary-btn{
        width: 160px;
    }
    .place-container .place-title{
        width: 100%;
    }

    .place-container .place-video{
        width: 100%;
        margin-top: 20px;
    }
    /* tours section */


    /* newsletter section */
    .newsletter-container{
        flex-direction: column;
    }
    .newsletter-form{
        width: 100%;
        margin-top: -30px;
    }
    .newsletter-part-two{
        width: 100%;
        margin-top: 20px;
    }

    .newsletter-disc{
        width: 200px;
        right: 0px;
        top: 160px;
    }
    .newsletter-disc p{
        font-size: 16px;
    }
    .newsletter-disc h3{
        font-size: 22px;
    }
    /* newsletter section */



    /* footer section */

    .footer-title{
        width: 80%;
    }
    .last-disc{
        /* display: flex;
        justify-content: center;
        width: 100%;
        margin: 0px auto; */
        padding: 20px;

    }
    /* footer section */
}
